.BatterySolution {
  height: calc(100vh - 60px);
  display: grid;
  flex-direction: row;
  grid-template-columns: 300px calc(100% - 300px); /* Left takes 30%, right takes 70% */
  width: 100%; /* Full width */
}


.BatterySolution-select {
  position: relative;
  background-color: #dcdcdc;
  padding: 30px 10px;
  text-align: left;
}

.BatterySolution-select-header{
  font-size: 25px;
  font-weight: 600;
}
.BatterySolution-selectItem {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.BatterySolution-selectItem p {
  margin-top: 7px;
}


.BatterySolution-calc {
  background-color: #f5f5f5;
  padding: 10px 10px;
}
.BatterySolution-calc-header{
  font-size: 25px;
  font-weight: 600;
  margin: 20px 10px;
}
.BatterySolution-calc-params{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  gap: 10px;
}
.BatterySolution-calc-param{
  display: flex;
  flex-direction: row;
  padding-left: 45px;
  font-size: 18px;
  font-weight: 500;
  margin: 7px 0;
}


.BatterySolution-result{
  display: grid;
  grid-template-columns: repeat(auto-fill, 310px);
  grid-auto-rows: auto; /* Rows adjust automatically */
  grid-auto-flow: dense; /* Fill each row from left to right */
  gap: 20px; /* Optional spacing between blocks */
  margin: 20px 45px;
  border-top: 1.5px solid #dcdcdc;
  padding-top: 20px;
}

.BatterySolution-loading{
  padding: 100px 50px;
  border-top: 1.5px solid #dcdcdc;
  margin-top: 20px;
}


/* Shared styles */
.title {
  margin-right: 5px;
  font-weight: 500;
}
.unit {
  margin-left: 5px;
  font-weight: 500;
}
