.BatterySolution {
  height: calc(100vh - 60px);
  width: 100%;
}

/* Battary Configuration */
.BatterySolution-select {
  position: relative;
  background-color: #dcdcdc;
  padding: 30px 10px;
  text-align: left;
}

.BatterySolution-select-header{
  font-size: 25px;
  font-weight: 600;
}
.BatterySolution-selectItem {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.BatterySolution-selectItem p {
  margin-top: 7px;
}

.BatterySolution-buttons {
  margin-top: 30px;
}
.BatterySolution-button {
  margin-left: 0px;
  margin-top: 20px;
}

/* Battery Calculation */
.BatterySolution-calc {
  background-color: #f5f5f5;
  padding: 10px 10px;
}

.BatterySolution-calc-header{
  font-size: 25px;
  font-weight: 600;
  margin: 20px 10px;
}

.BatterySolution-calc-params{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  gap: 10px;
}
.BatterySolution-calc-param{
  display: flex;
  flex-direction: row;
  padding-left: 45px;
  font-size: 18px;
  font-weight: 500;
  margin: 7px 0;
}

.BatterySolution-result-container{
  margin: 20px 45px;
  border-top: 1.5px solid #dcdcdc;
  margin-top: 20px;
}
.BatterySolution-info{
  text-align: left;
  margin: 5px 0;
  color: #DC143C;
}
.BatterySolution-result{
  display: grid;
  grid-template-columns: repeat(auto-fill, 310px);
  grid-auto-rows: auto; /* Rows adjust automatically */
  grid-auto-flow: dense; /* Fill each row from left to right */
  gap: 20px; /* Optional spacing between blocks */
}
.BatterySolution-loading{
  padding: 100px 50px;
  border-top: 1.5px solid #dcdcdc;
  margin-top: 20px;
}


/* Battery Optimization */
.BatterySolution-optimizationPanel{
  padding: 10px 10px;
  overflow: hidden;
  transform: translateX(100%); /* Start off-screen to the right */
  transition: transform 0.5s ease-out; /* Smooth transition */
  opacity: 0; /* Hidden at first */
}

.visible{
  transform: translateX(0); /* Slide into position */
  opacity: 1; /* Make it fully visible */
}

.BatterySolution-optimizationPanel-row {
  display:flex; 
  flex-Direction:row;
  align-items: start; 
  justify-content: space-between;

}

.BatterySolution-optimizationPanel-header {
  font-size: 25px;
  font-weight: 600;
  margin: 20px 10px;
}

.BatterySolution-optimizationPanel-notes {
  text-align: left;
  background-color: #dcdcdc;
  padding: 5px;
  border-radius: 5px;
}

/* Shared styles */
.title {
  margin-right: 5px;
  font-weight: 500;
}
.unit {
  margin-left: 5px;
  font-weight: 500;
}
