.Header {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  background-color: #001F3F;
}

.Header img {
  height: 100px;
  margin: -20px 0;
  padding: 0 20px;
}

.Header h {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  margin-top: 10px;
}
